.footer {
    background-color: #0255A5;
    color: white;
    height: 100%;
}

@media(max-width:670px){
    .footer{
        height: 1000%;
    }

    .col-lg-1 img{
        float: left;
    }
}

.col-lg-1 {
    text-align: center;
    /* font-weight: medium; */
    padding-top: 30px;
}

.col-lg-1 h6 {
    margin-top: 5px;
}

.col-lg-1 img {
    width: 50px;
    height: 50px;
}

.col-lg-5 {
    margin-left: 40px;
    padding: 50px 0px;
    color: white;
}

.col-lg-2 {
    margin-left: 40px;
    padding: 50px 0px;
    margin-right: 40px;
}

.col-lg-2 a {
    text-decoration: none;
    line-height: 2.5;
    font-size: 14px;
    color: #ffffff;
}

.col-lg-2 a:hover {
    color: #FE9705;
}

.col-lg-2 p{
    text-decoration: none;
    line-height: 2.5;
    font-size: 14px;
    color: #ffffff;
}

