/* .tombol {
  position: absolute;
  width: 200px;
  left: 300px;
  height: 80px;
  top: 300px;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  background-color: #FA0000;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;

}

.peringatan {
  position: absolute;
  width: 605px;
  height: 48px;
  left: 115px;
  top: 170px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  color: #FFF50B;

}

.warnings {
  position: absolute;
  width: 412px;
  height: 19px;
  left: 200px;
  top: 236px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  text-align: center;

}

.cuaca-box{
  width: 200px !important;
}



.box-weather::-webkit-scrollbar {
  width: 10px;
  height: 3px !important;
}


.box-weather::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 

.box-weather::-webkit-scrollbar-thumb {
  background: #888; 
}


.box-weather::-webkit-scrollbar-thumb:hover {
  background: #555; 
} */

.link-share{
  position: absolute;
  top: 40%;
  /* background-color: white; */
  padding: 10px;
}

.share-link-item{
  transition: 0.5s;
}

.share-link-item:hover{
  margin-left: 20px;
}


.cuaca-box {
  animation: carousel 10s infinite;
}

@keyframes carousel {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
.col-md-4 img{
  width: 100%;
  height: 250px;
 }

 .col-md-4{
  margin: 30px 0;
 }

 /* .col-md-4 button{
  width: 200px;
  margin-left: 150px;
  background-color: #0255A5;
 } */
