.login-page {
  background-color: #7CC6F6;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  background-color: white;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
  margin-bottom: 2rem;

}

.login-form label {
  display: block;
  margin-bottom: 0.5rem;
}

.login-form input {
  display: block;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  border: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.login-form button {
  background-color: #0B8F00;
  color: white;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-left: 3.5%;
}

.login-box {
  width: 580px;
}

.tes {

  color: #7CC6F6;
  font-Weight: bold;
}
