.col-lg-4 h5 {
  font-weight: bold;
  margin: 50px 0px;
}

.caption-image {
  position: relative;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.caption-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.caption-image .text-page {
  color: #fff;
}

.card-footer {
  background-color: #4cb8c7;
}

.box-button-urgent {
  height: 100px;
  width: 50px;
  right: 30px;
  bottom: 50px;
  position: fixed;
  z-index: 999;
}

.button-urgent {
  width: 50px;
  height: 50px;
}

.button-urgent:nth-child(1) {
  background-color: #fe9705;
}

.button-urgent:last-child {
  background-color: #fa0000;
}

.trapezoid {
  /* Rectangle 698 */

  /* Rectangle 698 */

  /* box-sizing: border-box;

position: absolute;
width: 402px;
height: 159px;
left: 523px;
top: 660px;

background: #FFFFFF;
border: 2px solid #0255A5;
box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
border-radius: 5px; */

  border-top: 80px solid #d9d9d9;
  border-left: 40px solid transparent;
  width: 250px;
  position: absolute;
  left: 41%;
  top: -10%;
  border-top-color: #213df3;
}

.card-footer Link {
  text-decoration: none;
}
