body {
  margin: 0;
font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar{
  background-color: #0255A5;
  height: 75px;
  font-family: 'Roboto', sans-serif;
}

.brand-bold {
  font-size: 14px;
  font-weight: bold;
}

.brand-regular {
  font-size: 14px;
}

.logo{
    width:  45px;
    height: 45px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.warning {
  border: 1px solid #ccc;
  height: 140px;
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.1);
  padding: 10px;
  position: absolute;
  background-color:  #FFA500;
}
  

.icon{

  width:  70px;
  height: 100px;
  color: #FFFFFF;
 
}
.date{
  text-align: left;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

legend {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 3px;
  box-shadow: 0px 0px 5px #ccc;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

.hero {
  height: 390px;
  overflow: hidden;
}

.hero-image {
  z-index: 9;
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.hero::after{
  z-index: 10;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  content: "";
  opacity: 30%;
}

.hero-container {
  z-index: 20;
  color: #fff;
}

.btn-custom-danger {
  background-color: #FA0000;
  color: #fff;
  border: none;
  border-radius: 10px;
  width: 220px;
  height: 64px;
  font-size: 24px;
}

.text-hero {
  font-size: 40px;
  font-weight: 700;
  color: #FFF50B;
}

.subtext-hero{
  font-weight: 600;
  font-size: 16px;
}

.box {
  width: 100%;
  height: 100%;
}

.peringatan-dini {
  width: 475px;
  height: 270px;
  border-radius: 15px;
  background-color: #FE9705;
}

.warning-icon {
  margin-top: 20px;
  width: 60px;
  height: 60px;
}

.hr-peringatan {
  border: 3px solid #fff;
  opacity: 100%;
}

.box-pemetaan {
  border-radius: 15px;
}

.text-marker {
  color: black;
  letter-spacing: 1.5px;
  font-weight: 700;
}